*{
    padding: 0;
    margin: 0;
    color:#27242a;
    text-align: center;
}
html, body{
    background-color:#e3b155;

}

.main-conteiner{
    border: 4px solid #84b09b;
    border-radius: 30px;
    margin:2rem;
    background-color: #e3b155;
}

nav, section, footer, article, aside{
    border: 3px solid #84b09b;
    margin: 1rem;
    border-radius: 20px;
    padding: 1rem;
}

article, aside{
    width: 30%;
    display: inline-block;
    height: 150px;
    background-color: #f4e7d5;
}
nav,section,footer{
    background-color:#ecd4c6;
}